<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpEmail" value="30357@student.ajp.edu.pl" />
		<add key="SmtpPassword" value="DuWMIermyOp9" />
		<add key="SmtpHost" value="smtp.office365.com" />
		<add key="SmtpPort" value="587" />
	</appSettings>
</configuration>
